<!DOCTYPE html>
<html>

<head>
	<style>
		container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

table-image {
  td, th {
    vertical-align: middle;
  }
}
	</style>
	<title>SRO - Requested Applications for Land registries </title>
</head>

<body>
	<div class="container">
	<table>
		<tr>
			<th> Survey No </th>
			<th> Applicants Name </th>
			<th> Date and Time </th>
		</tr>
		{% for item in all_applications%}
			<tr>
			<td>{{item.survey_no}}</td>
			<td>{{item.applicants_firstname}} {{item.applicants_lastname}}</td>
			<td>{{item.timestamp}}</td>
			<td><a class="w3-button w3-green" href="{% url "process_application" %}?obj_id={{item.id}}">Accept</a>
			<!--button class="w3-button w3-white w3-border">Button</button-->
			</td>
			</tr>
		{% endfor %}
		



	</table>
</div>



</body>

</html>