{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>SRO - Pending Applications</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	 <h5 class="my-0 mr-md-auto font-weight-normal">Pending Applications</h5>
	 <a class="btn btn-outline-primary" href="{% url 'sro_homepage' %}">Back</a>
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Survey No</th>
								<th class="column2">Applicants Name</th>
								<th class="column3">Data and Time</th>
								<!--th class="column4">Price</th>
								<th class="column5">Quantity</th>
								<th class="column6">Total</th-->
							</tr>
						</thead>
						<tbody>

							{% for item in all_applications%}
								<tr>
									<td class="column1">{{item.survey_no}}</td>
									<td class="column2">{{item.applicants_firstname}} {{item.applicants_lastname}}</td>
									<td class="column3">{{item.timestamp}}</td>
									<td><a class="w3-button w3-green" href="{% url "process_application" %}?obj_id={{item.id}}">Accept</a>
			
								</tr>
								{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	

<!--===============================================================================================-->	
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>