{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title style="centre-align">"Search Land Details"</title>
<link href="{% static 'appl_form.css' %}" type="text/css" rel="stylesheet">
</head>
<body onload="initiate()">
<script src="{% static 'drop_down_list.js'%}"></script>
<div id="main">
<h1 class="text-center bg-dark text-white">Search Land Details</h1>

<form method="post" onsubmit="return validation()">


<div class="form-group">
<label for="district">DISTRICT:</label>
<select class="form-control"  id="district" name="district" onclick="getTaluka()" required>
</select></div><br><br>

<div class="form-group">
<label for="taluka">TALUKA:</label>
<select class="form-control" id="taluka" name="taluka" onclick="getVillage()" required>
</select></div>
<br><br>

<div class="form-group">
<label for="village">VILLAGE:</label>
<select class="form-control" id="village" name="village" required>
</select></div>
<br><br>

<div class="form-group">
<label for="pincode">PINCODE:</label>
<input type="number" id="pincode" name="pincode" required>
<span id="pincodeerror" class="text-danger font-weight-bold"></span>
</div><br><br>


<div class="form-group">
<label for="propertyno">Survey No.:</label>
<input type="text" class="form-control" id="propertyno" name="propertyno" required>
</div>
<br><br>

<div class="form-group">
<input type ="submit" value="Submit" ></div>
</div>
</form>

<script type="text/javascript">

function validation(){

  var pincode= document.getElementById('pincode').value;
 
  
  var pincodecheck=/^[1-8][1-9][1-9][0-9]{3}$/;
 
  
 if(pincodecheck.test(pincode)){
        document.getElementById('pincodeerror').innerHTML=" " ;
  }else{
   document.getElementById('pincodeerror').innerHTML=" **Pincode is Invalid ";
return false;
  }
 
       }  
</script>
</body>
</html>